extends layout

block content
  h1= title
  div.intro
    if user
      if user.membershipStatus === false
        p Now that you have an account, enter the secret code #[a(href='join-club') here] to post messages!
      else if user.adminStatus === false
        p #[a(href='create-message') Create a message] or #[a(href='add-admin') become an admin] so you can delete messages.
      else 
        p #[a(href='create-message') Create a message]
    else 
      p Login to see who created each post and when.
  if messages 
    ul 
      for message in messages
        div.message
          h2= message.title
          if user !== undefined && user.adminStatus === true
            form(method='POST' action='' id='deleteMessage')
              input(type='hidden' name='id' value=message.id)
            button.delete(type='submit' form='deleteMessage' value='Submit') Delete
          if user
            p.author #{message.author.firstName}
            p.date #{message.timestamp_formatted}
          p.messageBody= message.body