extends layout

block content
  h1= title
  if user
    p You're logged in #{user.firstName}.
    if user.membershipStatus === false
      p Now that you have an account, enter the secret code #[a(href='join-club') here] to join the club!
    else 
      a(href='create-message') Create a message!
  else 
    p Welcome to the club!
  if messages 
    ul 
      for message in messages
        h2= message.title
        if user
          p Author: #{message.author.firstName}
          p Date: #{message.timestamp_formatted}
        p= message.body